[submodule "IsaacLab"]
	path = IsaacLab
	url = https://github.com/KevinEppacher/IsaacLab.git
[submodule "detection_ws/src/seem_ros"]
	path = detection_ws/src/seem_ros
	url = https://github.com/KevinEppacher/seem_ros.git
[submodule "lavis_ws/src/blip2_ros"]
	path = lavis_ws/src/blip2_ros
	url = https://github.com/KevinEppacher/blip2_ros.git
[submodule "detection_ws/src/sage_commander"]
	path = detection_ws/src/sage_commander
	url = https://github.com/KevinEppacher/sage_commander.git
[submodule "exploitation_ws/src/sage_commander"]
	path = exploitation_ws/src/sage_commander
	url = https://github.com/KevinEppacher/sage_commander.git
[submodule "explorer_ws/src/sage_commander"]
	path = explorer_ws/src/sage_commander
	url = https://github.com/KevinEppacher/sage_commander.git
[submodule "lavis_ws/src/sage_commander"]
	path = lavis_ws/src/sage_commander
	url = https://github.com/KevinEppacher/sage_commander.git
[submodule "exploitation_ws/src/openfusion_ros"]
	path = exploitation_ws/src/openfusion_ros
	url = https://github.com/KevinEppacher/openfusion_ros.git
