evaluator:
  global_costmap:
    global_costmap:
      ros__parameters:
        map_topic: /evaluator/map
        update_frequency: 1.0
        publish_frequency: 1.0
        global_frame: robot_original_pose_at_scan
        robot_base_frame: base_link
        use_sim_time: True
        robot_radius: 0.4
        footprint: "[ [0.14, 0.25], [0.14, -0.25], [-0.607, -0.25], [-0.607, 0.25] ]"
        resolution: 0.05
        track_unknown_space: true
        plugins: ["static_layer", "inflation_layer"]
        static_layer:
          plugin: "nav2_costmap_2d::StaticLayer"
          map_subscribe_transient_local: True
        inflation_layer:
          plugin: "nav2_costmap_2d::InflationLayer"
          cost_scaling_factor: 3.0
          inflation_radius: 0.45
        always_send_full_costmap: True
        height: 10
        width: 10
    
evaluator:
  map_server:
    ros__parameters:
      use_sim_time: True
      # Overridden in launch by the "map" launch configuration or provided default value.
      # To use in yaml, remove the default "map" value in the tb3_simulation_launch.py file & provide full path to map below.
      frame_id: "robot_original_pose_at_scan"

map_saver:
  ros__parameters:
    use_sim_time: True
    save_map_timeout: 5.0
    free_thresh_default: 0.1
    occupied_thresh_default: 0.65
    map_subscribe_transient_local: True

evaluator:
  planner_server:
    ros__parameters:
      expected_planner_frequency: 20.0
      use_sim_time: True
      planner_plugins: ["GridBased"]
      GridBased:
        plugin: "nav2_navfn_planner/NavfnPlanner"
        tolerance: 10.0
        use_astar: false
        allow_unknown: true

evaluator:
  nearest_path_planner:
    ros__parameters:
      base_frame: "base_link"
      map_frame: "robot_original_pose_at_scan"
      centroid_topic: "/evaluator/navigable_targets"
      shortest_path_topic: "/evaluator/shortest_path"
      debug_info: false

evaluator:
  navigable_target_projector:
    ros__parameters:
      robot_radius: 0.01
      cost_threshold: 50
      allow_unknown: false
      angular_step_deg: 10.0
      radial_samples: 6
      line_step: 0.05
      search_radius: 2.5

evaluator:
  trajectory_recorder:
    ros__parameters:
      record_frequency: 1.0
      map_frame: "robot_original_pose_at_scan"
      robot_frame: "base_link"
      evaluation_event_sub: "/evaluator/dashboard/event"
      iteration_status_sub: "/evaluator/dashboard/iteration_status"
      path_event_pub: "path_event"

evaluator:
  shortest_path_service:
    ros__parameters:
      evaluate_prompt_pub: "/evaluator/prompt"
      shortest_path_sub: "/evaluator/shortest_path"
      timeout_sec: 30.0
      debug_info: true